#wrapper {
	width: 980px;
	margin: 0px auto;
}
header ul {
	border: 1px solid red;
	background-color: #f1f1f1;
	border-radius: 5px;
	height: 50px;
	
	margin-left: 390px;
	margin-top: 0px;
	padding-top: 5px;
	border-radius: 5px;
	!border: 1px solid silver;

	display: inline-block;
	vertical-align: top;
	width: 450px;
}
header ul li {
	display: inline-block;
	color: grey;
	text-decoration: none;
	list-style: none;
}
header ul li a {
	text-decoration: none;
	color: grey;
}
header #login {
	border: 1px solid red;
	width: 70px;
	height: 25px;
	background-color: #007BA7;
	border-radius: 5px;
	display: inline-block;
	text-align: center;
	padding-top: 5px;
	color: white;
	margin-left: 20px;
}
header img {
	margin-top: 3px;
	margin-left: 5px;
	margin-right: 15px;
	display: inline-block;
	vertical-align: top;
}
header h1 {
	display: inline-block;
	vertical-align: top;
	color: grey;
}
header h2 {
	background-color: #007BA7;
	width: 100%;
	height: 40px;
	color: white;
	padding: 10px 0px 0px 5px;
	display: inline-block;
	vertical-align: top;
}
#side_bar {
	width: 240px;
	margin-left: 5px;
}
#side_bar h3 {
	color: #007BA7;
}
#side_bar .red {
	color: #EC5800;
}
#side_bar h6 a {
	color: #007BA7;
	text-decoration: none;
}
#demo_button {
	height: 25px;
	width: 100%;
	background-color: #007BA7;
	text-align: center;
	border-radius: 5px;
	margin-bottom: 5px;
	padding-top: 5px;
	color: white;
}
#trial_button {
	height: 25px;
	width: 100%;
	background-color: #EC5800;
	text-align: center;
	border-radius: 5px;
	padding-top: 5px;
	color: white;
}
#side_bar #credit_card {
	text-align: center;
	border: 1px solid #000;

}
#line {
	width: 100%;
	border: 1px solid grey;
}
#left_content_ad {
	height: 241px;
	width: 198px;
	background-image: url("left_content_ad.png");
}
#left_content_ad h5 {
	color: #007BA7;
	padding: 10px;
}
#left_content_ad h6 {
	color: grey;
	padding: 10px;
}
#get_graded_button {
	width: 150px;
	height: 20px;
	background-color: blue;
	color: white;
	text-align: center;
	margin: auto;
	border-radius: 5px;
}
